// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2022, Jack Matthews <jm5112356@gmail.com>
 * Copyright (c) 2022, Ivaylo Ivanov <ivo.ivanov.ivanov1@gmail.com>
 * Copyright (c) 2022, Dominik Kobinski <dominikkobinski314@gmail.com>
 * Copyright (c) 2022, Rayyan Ansari <rayyan@ansari.sh>
 */

/dts-v1/;

#include "qcom-msm8226-nokia-common.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Nokia Lumia 830";
	compatible = "nokia,tesla","qcom,msm8226";
	chassis-type = "handset";
};

&blsp1_i2c1 {
	status = "okay";

	rmi4-i2c-dev@4b {
		compatible = "syna,rmi4-i2c";
		reg = <0x4b>;
		#address-cells = <1>;
		#size-cells = <0>;

		interrupts-extended = <&tlmm 17 IRQ_TYPE_EDGE_FALLING>;
		vdd-supply = <&pm8226_l15>;
		vio-supply = <&pm8226_l6>;

		pinctrl-names = "default";
		pinctrl-0 = <&touch_pins>;

		rmi4-f01@1 {
			reg = <0x01>;
			syna,nosleep-mode = <1>;
		};

		rmi4-f12@12 {
			reg = <0x12>;
			syna,sensor-type = <1>;
		};
	};
};

&blsp1_i2c4 {
	status = "okay";

	qpdst900@39 {
		compatible = "avago,apds9930";
		reg = <0x39>;

		interrupts-extended = <&tlmm 65 IRQ_TYPE_EDGE_FALLING>;

		vdd-supply = <&pm8226_l15>;
		vddio-supply = <&pm8226_l6>;

	};
};

&framebuffer0 {
	width = <720>;
	height = <1280>;
	stride = <(720 * 3)>;
};

&gpio_keys {
	camera-snapshot {
		label = "Camera Snapshot";
		gpios = <&tlmm 107 GPIO_ACTIVE_LOW>;
		linux,code = <KEY_CAMERA>;
	};

	camera-focus {
		label = "Camera Focus";
		gpios = <&tlmm 108 GPIO_ACTIVE_LOW>;
		linux,code = <KEY_CAMERA_FOCUS>;
	};
};
